spring:
  profiles:
    active: local
    include: oauth
  datasource:
    url: jdbc:h2:tcp://localhost/~/springbook
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
logging.level:
  org.hibernate.SQL: debug
# org.hibernate.type: trace
